* {
  margin: 0;
}

h3 {
  color: white;
  margin: 2rem 0 .5rem 2rem;
}
p {
  color: white;
  margin: 0 2rem;
  font-size: .85rem;
  line-height: 2;
}
#nick{
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
  color: rgb(239, 159, 84);
}