*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    margin: 0rem auto;
}

h2{
color: white;
text-align: center;
}
#description{
    text-align: center;
    color: rgb(239, 159, 84);
    margin: 0;
}
.location{
    color: rgb(165, 161, 161);
    text-align: center;
    margin: 0;
}

img{
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.socials_btn{
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#email_btn {
    color: black;
    background-color: white;
    padding: .5rem 1.5rem;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}
#email_btn:hover{
    
}
#linkedin_btn {
    background-color: rgba(11, 11, 135, 0.514);
    color: white;
    padding: .5rem 1.75rem;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}
#linkedin_btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

button a{
    text-decoration: none;
    
}