*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    margin: 0rem auto;
    overflow: hidden;
}

h2{
color: white;
text-align: center;
margin-top: 1rem;
}
#description{
    text-align: center;
    color: rgb(239, 159, 84);
    margin: 0;
}
.location{
    color: rgb(165, 161, 161);
    text-align: center;
    margin: 0;
}
img{
    width: 200%;
    height: 50vh;
}


.wrapper{
    display: flex;
    
    animation: slide 15s infinite;
}
@keyframes slide {
    0%{
        transform: translateX(-10%);
    }
    25%{
        transform: translateX(-0%);
    }
    30%{
        transform: translateX(-80%);
    }
    40%{
        transform: translateX(-90%);
    }
    50%{
        transform: translateX(-180%);
    }
    60%{
        transform: translateX(-190%);
    }
    75%{
        transform: translateX(-150%);
    }
    
    100%{
        transform: translateX(-200%);
    }
}

.socials_btn{
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#email_btn {
    color: black;
    background-color: white;
    padding: .5rem 1.5rem;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

#linkedin_btn {
    background-color: rgba(54, 54, 216, 0.514);
    color: white;
    padding: .5rem 1.75rem;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}
#linkedin_btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

button a{
    text-decoration: none;
    
}

